
<div class="symgrid">

    <table>
        <thead>
            <tr>
                {% for column in grid.columnList %}
                    <th>{{ column.title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>

        </tfoot>
    </table>

</div>