
.symgrid {

  .error-message {
    display: none;
  }
  &.with-error .error-message {
    display: block;
  }


  table {
    th.sortable a:hover:after { content: '↓'; }
    th.order-asc a:after { content: '↓'; }
    th.order-asc a:hover:after { content: '↑'; }
    th.order-desc a:after { content: '↑'; }
    th.order-desc a:hover:after { content: '↓'; }
  }

  .loading-indicator {
    display: none;
  }
  &.loading .loading-indicator {
    display: initial;
  }


  .aggregation {

    font-weight: bold;

    &.aggregation-avg:before { content: 'Avg '; }
    &.aggregation-max:before { content: 'Max '; }
    &.aggregation-min:before { content: 'Min '; }
    &.aggregation-sum:before { content: 'Σ '; }
  }
}